doctype html
html(lang='en')
	head
		title Confirm Logout
		style
			include styleSheet.css
	body
		form(action="/index" method="GET")
			div
				h4 Logout confirmed
			div
				button(type="submit" name="returnLogin") Click here to log in again