doctype html
html(lang='en')
	head
		title New account created
		style
			include styleSheet.css
	body
		form(action="/index" method="GET")
			div
				h4 Account has been created, please return to login page.
			div
				button(type="submit" name="returnLogin") Return